@*@model BookList.Models.BRViewModel*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @for (var i = 0; i < Model.Readers.Count; i++)
    {
        <li> @Model.Readers[i].Name
             @Html.ActionLink("Books Read", "ReadersBookList", "BooksRead", new { readerId = Model.Readers[i].ReaderId }, null)
             </li>
    }

</ul>