@*@model BookList.Models.BRViewModel*@
@{
    ViewBag.Title = "Readers";
}

<h2>Select A Reader</h2>

<ul class="readers-name">
    @for (var i = 0; i < Model.Readers.Count; i++)
    {
        <li > 
            <a href= @Url.Action("ReadersBookList", "BooksRead", new { Id = Model.Readers[i].ReaderId }, null)><h3>@Model.Readers[i].Name</h3></a>
        </li>
    }

</ul>