

@{
    ViewBag.Title = "Home";
}


<div class="banner"></div>
<span><img class="img-responsive jumbotron" src="~/Photos/bookwallL.jpg" /></span>
<div id="open">
    <p class="amaticfont">
        Love to Read? Now you can keep track of every book you have ever read!
        Just add new books to your Library. Then when you read one add it to your personal list.
    </p>
</div>

<a class = "btn btn-primary addbutton greenbtn" href=@Url.Action("Index", "Reader", null)>Get started</a>