body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Source Code Pro', monospace;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.readers-name {
    list-style: none;
    text-decoration: none;
}

.readers-name a {
    color: darkcyan;
    font-size: medium;
}

/* Liabrary of Books*/

.titles {
    font-synthesis: weight;
    font-weight: 800;
    font-size: medium;
}

.authors {
    font-size:small;
    font-weight:400;
}

footer {
    background-color: white;
}

.amaticfont {
    font-family: 'Amatic SC', cursive;
}

.codeProFont {
    font-family: 'Source Code Pro', monospace;
}

.addbutton {
    margin-top: 20px;
}

.menuTitle {
    font-size:2em;
}