body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Source Code Pro', monospace;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.readers-name {
    list-style: none;
    text-decoration: none;
}

.readers-name a {
    color: darkcyan;
    font-size: medium;
}



/* Liabrary of Books*/


.titles {
    font-synthesis: weight;
    font-weight: 800;
    font-size: medium;
}

.authors {
    font-size:small;
    font-weight:400;
}

footer {
    background-color: white;
}

.amaticfont {
    font-family: 'Amatic SC', cursive;
}

.codeProFont {
    font-family: 'Source Code Pro', monospace;
}

.addbutton {
    margin-top: 20px;
    
}

.menuTitle {
    font-size:2em;
}



/*Over-ride of default bookstrap*/
.greenbtn {
    background-color: #468847;
    border-color: #326533;
}

    .greenbtn:hover,
    .greenbtn:focus,
    .greenbtn:active {
        background-color: #39713A;
        border-color: #2F5B2F;
    }

.redlink,
.redlink:hover {
    color: #CF2C19;
}

.yellowlink,
.yellowlink:hover {
    color: #F5AA0C;
}


/* Readers Styles*/



#open p {
        font-weight: bold;
        font-size: 2em;
    }

/*Home sytles*/

.grad1 {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gradbg {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}